
{% extends 'sanitt/base.html'%}
{% block content %}
<!-- Start of New Item Description -->
<div id="new_item"></div>
{% if tquery %}
<div id="new_item_header">
<h2>Search of results Target: {{tquery}}</h2>
</div>
<div id="new_item_image">  </div>

<div id="new_item_text">

<br>
<br>
    <table>
        <tr>
        <td>Target ID</td><td>{{target_id}}</td>
        </tr>
        <tr>
        <td>Type</td><td>{{ttype}}</td>
        </tr>
        <tr>
        <td>Name</td><td>{{tname}}</td>
        </tr>
        <tr>
        <td>Nomenclature</td><td>{{nomenclature}}</td>
        </tr>
        <tr>
        <td>Family ID</td><td>{{tfamily}}</td>
        </tr>
    </table>
<br>
<br>
<br>
    <table>
        <tr>
        <td>Gene Species</td><td>{{gensp}}</td>
        </tr>
        <tr>
        <td>Gene Symbol</td><td>{{gensym}}</td>
        </tr>
        <tr>
        <td>Gene Name</td><td>{{genname}}</td>
        </tr>
    </table>
<br>
<br>
<br>
    <table>
        <tr>
        <td>Uniprot</td><td><a href="http://www.uniprot.org/uniprot/{{uniprot}}">{{uniprot}}</a></td>
        </tr>
        <tr>
        <td>Ensembl Gene</td><td><a href="http://www.ensembl.org/Gene/Summary?g={{ensembl}}">{{ensembl}}</a> </td>
        </tr>
    </table>
{% else %}
<h4> Not found results </h4>
<p> <a href="index">try again</a> or:</p>
{% endif %}
<br>
<br>
<br>
<h2>Search by targetId to see more results:</h2>

<form action={% url 'sanitt:detaill' %}  method='get'>{% csrf_token %}
    <label for="tid" >Search: </label>
    <input name= "tid" type="text" value="{{ targetid }}">
    <input type="submit" value="Search">
</form>
<br>
<br>
<br>

<br>
<br>
<br>
</div></div>
{% endblock %}
