
{% extends 'sanitt/base.html' %}
{% block content %}
<!-- Start of New Item Description -->
<div id="new_item">
<div id="new_item_header">
<h1> Search page</h1></div>
<div id="new_item_image"></div>
<div id="new_item_text">
<p> Welcome to the SANITT application, this application has been created with the intention of providing in the same search the information of several databases, among them IUPHAR, PDB and PubChem.</p>
<br>
<br>
<h2>Compound search:</h2>
<p> Search for your chemical compound by name</p>
<form action={% url 'sanitt:searchcomp' %} method='get'>{% csrf_token %}
<label for="q"></label>
<input type="text" name="q" value="{{ query }}">
<input type="submit" value="Search">
</form>
<br>
<br>
<br>
<br>
<h2>Target search:</h2>
<p> Search for your target by name</p>
<form action={% url 'sanitt:detail' %}  method='get'>{% csrf_token %}
    <label for="t" ></label>
    <input name= "t" type="text" value="{{ tquery }}">
    <input type="submit" value="Search">
</form>

<br>
<br>
<br>
<br>

<h2>Ligand search:</h2>
<p> Search for your ligand by name</p>
<form action={% url 'sanitt:ligand' %}  method='get'>{% csrf_token %}
    <label for="l" ></label>
    <input name= "l" type="text" value="{{ lquery }}">
    <input type="submit" value="Search">
</form>

</div></div>
 
{%endblock%}
