{% extends 'sanitt/base.html' %}
{% block content %}

<!-- Start of New Item Description -->
<div id="new_item"></div>

<div id="new_item_header">
</div>
<div id="new_item_image">  <div>
  {% for ccid in ccids %}
<img src="https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/cid/{{ccid}}/png" width="200">
</div></div>
<div id="new_item_text">

</div>
<div>
<br>
<br>

<h1>Search Results of <b>{{ query }}</b></h1>
<br>
<br>


<ul>
    <li>
      <p>CID: <a href="detailc">{{ ccid }}</a></p>
    </li>
     <li>
     <p>Description: {{ description }}</p>
    </li>
     <li>
     <p>Molecular Formula: {{ molecularformula }}</p>
    </li>
     <li>
     <p>Molecular Weight: {{ molecularweight }}</p>
    </li>
     <li>
     <p>Isomeric SMILES: {{ isomericsmiles }}</p>
    </li>
     <li>
     <p>XLogP: {{ cxlogp }}</p>
    </li>     
     <li>
     <p>ExactMass: {{ exactmass }}</p>
    </li>
     <li>
     <p>Synonyms: {{ synonyms }}</p>
    </li>
  {% endfor%}
</ul>
</div>

{% endblock %}

